<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChromeSuite">
    <parameter name="browser" value="chrome" />
    <listeners>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>
    <test name="GmailTest">
        <parameter name="url" value="https://www.gmail.com"/>
        <classes>
            <class name="tests.GmailTest"/>
        </classes>
    </test>
    <test name="EbayTest">
        <parameter name="url" value="https://www.ebay.com"/>
        <classes>
            <class name="tests.EbayTest"/>
        </classes>
    </test>
</suite>